@import url('normalize.css');

body {
  background-color: black;
  color: white;
}


#building-template {
  /* display: none; */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}


#video-animation {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: 0;
  clip-path: none;
}


#c {
  z-index: 2;
}
.container__tekst {
  position: absolute;
  display: block;


}
.tekst {
    position: relative;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.tekstLeft__top {
    top: 590px;
    left: 130px;
}
.tekstLeft__bottom {
  top: 550px;
  left: 130px;
}

.tekstRight__top {
  top: 419px;
  left: 1400px;
}

.tekstRight__bottom {
  top: 379px;
  left: 1400px;

}
.--hidden {
  display: none;
}