@import url('normalize.css');

body {
  background-color: black;
  color: white;
}

#building-template {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  z-index: -1;
}

.window {
  opacity: .5;
  position: absolute;
  top: 380px;
  width: 102px;
  border: solid pink 20px;
}

#window1 {
  left: 62px;
  height: 207px;
}

#window2 {
  left: 262px;
  height: 207px;
}

#window3 {
  left: 459px;
  height: 207px;
}

#window4 {
  left: 682px;
  height: 190px;
}

#window5 {
  left: 891px;
  height: 190px;
}

#window6 {
  left: 1101px;
  height: 190px;
}

#window7 {
  left: 1318px;
  height: 207px;
}

#window8 {
  left: 1519px;
  height: 207px;
}

#window9 {
  left: 1721px;
  height: 207px;
}